<html>
 <head>
    <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"  />
 <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
 </head>
 <body>
    <div class="navbar">
        <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
        <a href="{{ url_for('site1') }}" class="navbar-item">øvelse 3 knap</a>
        <a href="{{ url_for('site2') }}" class="navbar-item">øvelse 4 lysstyrke</a>
        <a href="{{ url_for('site3') }}" class="navbar-item">øvelse 5 dht</a>
    </div>
 <body>
 Knappens tilstand <span id="tilstand">{{tilstand}}</span>
 <script type="text/javascript" charset="utf-8">
 var socket = io();
 socket.on('button_state', function(e) {
 document.getElementById('tilstand').innerText = e == 1 ? 'Sluppet' : 'Trykket';
 document.body.style.background = e == 1 ? 'pink' : 'salmon';
 });
 </script>
 </body>
</html>