<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='site.css') }}"  />

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
 </head>
 <body>
    <body>
        <div class="navbar">
            <a href="{{ url_for('home') }}" class="navbar-brand">Home</a>
            <a href="{{ url_for('site1') }}" class="navbar-item">øvelse 3 knap</a>
            <a href="{{ url_for('site2') }}" class="navbar-item">øvelse 4 lysstyrke</a>
            <a href="{{ url_for('site3') }}" class="navbar-item">øvelse 5 dht</a>
        </div>
     <body>
    <h2>Temperatur og fugtighed</h2>
    Temperatur : <span id="temperatur"></span><br /> Fugtighed : <span id="fugtighed"></span><br />
    <script>
        var socket = io();
        socket.emit('hent_temp')
        socket.on('temp', function(data) {
            console.log( data['valid'] )
        if (data != 'None' && data['valid'] == true) {
            document.getElementById('temperatur').innerText = data['temp_c']
            document.getElementById('fugtighed').innerText = data['humidity']
        }
        socket.emit('hent_temp')
    })
 </script>
 </body>
</html>